/home/jocibevanbaszva/diplomamunka/TransparentElection/Backend/Backend/Additional/Korzet_levalogatas20250702__ORSZAGOS.csv filter=lfs diff=lfs merge=lfs -text
Backend/Backend/Additional/Korzet_levalogatas20250702__ORSZAGOS.csv filter=lfs diff=lfs merge=lfs -text
